<li>
	{{name}}

	<button class="devourIt" data-id="{{id}}" data-isDevoured="{{isDevoured}}">
		{{#if isDevoured}}Devour it!{{else}}Get again!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
